<header>
    <nav class="container py-4 py-sm-3 d-flex align-center">
        <a class="logo mr-12" href="index.html">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e1ad10bd2260f80c5f65be5bfc5042790a261115/2025-week1/logo.svg" alt="logo">
        </a>
        <ul class="d-flex align-center mr-auto">
            <li class="mr-10 d-md-none">
                <a href="products.html" class="py-3">產品列表</a>
            </li>
            <li class="d-md-none">
                <a href="story.html" class="py-3">品牌故事</a>
            </li>
        </ul>
        <a class="p-3" href="register.html">
            <i class="bi bi-person"></i>
        </a>
    </nav>
</header>