.auth-banner {
    background: {
        image: url(/assets/images/login.png);
        repeat: no-repeat;
        size: cover;
        position: center;
    }
    height: 100%;
    border-radius: 12px;
}

.auth-content {
    background: {
        image: url(/assets/images/login-bg.png);
        repeat: no-repeat;
        size: cover;
        position: center;
    }
    padding: 120px 80px;
    border-radius: 12px;
    @include media-down(md) {
        background-image: none;
        padding: 0;
    }
}

